<launch>
	<node name="camera" pkg="openni2_camera" type="openni2_camera_node" output="screen" />
<!--	<node pkg="dynamic_reconfigure" type="dynparam" name="reconfig1" output="screen" args="set /camera/driver depth_mode 8" />
	<node pkg="dynamic_reconfigure" type="dynparam" name="reconfig2" output="screen" args="set /camera/driver color_mode 8" /> -->
</launch>

